.ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.li {
  margin: 20px;
}
.pop {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.link {
  text-decoration: none;
}
